
@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Cyber Arena</h1>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Welcome to Cyber Arena</h2>
        <p>
            This is CRUD page for CyberArena Project
        </p>
    </div>
    <div class="col-md-4">
        <h2>See the players</h2>
        <p>You can see full list of players by clicking Players button on the navbar or here below. Also you can edit this list by adding, deleting and editing players</p>
        <!--<p><a class="btn btn-default" href="http://www.asp.net/mvc/tutorials/getting-started-with-ef-using-mvc/">See the tutorial &raquo;</a></p>-->
        <p>@Html.ActionLink("Players", "Index", "Players", new { area = "" }, new { @class = "btn btn-default" })</p>
    </div>
    <div class="col-md-4">
        <h2>Teams</h2>
        <p>Also you can see the list of teams by clicking on Teams button on the navbar or the button below. You can edit that list too</p>
        <!--<p><a class="btn btn-default" href="http://code.msdn.microsoft.com/ASPNET-MVC-Application-b01a9fe8">Download &raquo;</a></p>-->
        <p>@Html.ActionLink("Teams", "Index", "Teams", new { area = "" }, new { @class = "btn btn-default" })</p>
    </div>
    

</div>